@import "tailwindcss";

@theme{
    --font-roboto :  "Roboto", sans-serif;
    --font-Alatsi :  "Alatsi", sans-serif;

    --color-blue : #4CD7F6;
    --color-bg-aside : #E2E2E5;
    --color-purple : #7166F9;
    --color-pink : #E17CFD;
    --color-dark-main : #2B2F42;
    --color-bg : #F6F6FB;
    --color-dark-bg : #332D56;
    --color-dark-card : #484848;
}


@layer components{
    .flex-ul{
        @apply flex gap-3 text-sm items-center relative after:duration-300 hover:after:w-1 font-medium after:content-[''] after:w-0 after:h-10 after:bg-purple/50 after:rounded-bl-lg after:rounded-tl-lg after:absolute after:right-0 transition-all
    }
    .size-img{
        @apply w-5
    }
    .navOptions{
        @apply font-normal bg-bg px-5 py-3 rounded-3xl hover:bg-purple transform transition-all hover:duration-300
    }
}
